body {
  font-family: "Playfair Display", serif;
}

.item {
  font-size: 14px;
  line-height: 19px;
  color: #7d7d7d;
  text-transform: uppercase;
  padding-left: 50px;
  padding-right: 50px;
}

.item:hover {
  color: #03a9f4;
}

.header {
  margin-top: 70px;
  text-align: center;
  margin-bottom: 90px;
}

.card-subtitle {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #b4ad9e;
  margin-top: 62px;
}
.card-title {
  font-size: 30px;
  line-height: 40px;
  color: #626262;
  margin-top: 32px;
}

.card-text {
  font-size: 14px;
  line-height: 19px;
  color: #626262;
  margin-top: 40px;
}
